@media screen and (max-width: 1024px) {
    .container{
        max-width: 1120px;
        padding: 0 40px 0 40px;
    }
    .gallery__info-right{
        padding-right: 0;
        max-width: 139px;
    }
    .gallery__wrapper {
        margin-left: 40px;
    }
    .gallery__item{
        width: 383px;
        height: 395px;
    }
    .gallery__img{
        width: 167px;
        height: 218px;
    }

}

@media screen and (max-width: 768px) {
    .gallery__wrapper {
        margin-left: 41px;
    }
    .gallery__item{
        width: 400px;
        height: 406px;
    }
    .gallery__img{
        width: 176px;
        height: 229px;
    }
}

@media screen and (max-width: 589px) {
    .gallery__info{
        margin-bottom: 10px;
    }
    .gallery__info-title{
        font-size: 30px;
        letter-spacing: 0.9px;
    }
    .gallery__info-right{
        position: absolute;
        bottom: -22px;
        left: 39px;
        max-width: 254px;

    }
    .gallery__wrapper {
        margin-left: 42px;
    }
    .gallery__item{
        padding: 12px 12px 12px 9px;
        width:260px;
        height: 270px;
    }
    .gallery__item-info{
        padding:5px 9px 0 8px;
        margin-bottom: 16px;
    }
    .gallery__item-subtitle{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .gallery__item-title{
        font-size: 20px;
        line-height: 1.2;
    }
    .gallery__item-images{
        gap: 4px;
    }
    .gallery__img{
        width: 116px;
        height: 151px;
        border-radius: 18px;
    }
    .modal {
     padding: 0 20px;
    }
}